<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="app">
        <nav class="primary-navbar">
            <span class="nav-brand"><h1><a href="/">Weather App</a></h1></span>
            <span>
                <form class="nav-content location" method="POST" action="/" >
                    <input class="form-input text-field" type="text" name="city_name" placeholder="City Name" required>
                    <button class="form-submit btn" type="submit">Submit</button>
                </form>
            </span>
        </nav>
        <div class="main-content">
            <h1>Oops! Page not found.</h1>
        </div>
    </div>
</body>
</html>